<!-- frontend code for image processing -->
<html>
<title> Image Processing </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

<body><br>


<h1>Image Processing</h1><hr>

<form method="post" action="/new" enctype="multipart/form-data"><br><br>

    <h2>Select an Image for adding effect to it.</h2>

    <select name = "image_selection" >
    	<option class = "option" value = "grey">
    		Grey
    	</option>
        <option class = "option" value = "sketch">
    		Sketch
    	</option>
        <option class = "option" value = "oil" >
            Oil
        </option>
        <option class = "option" value = "rgb">
            RGB
        </option>
        <option class = "option" value = "water" >
            Water
        </option>
        <option class = "option" value = "invert" >
            Invert
        </option>
        <option class = "option" value="hdr">
            HDR
        </option>
    	
    </select>

    <input class="btn btn-primary btn-lg" type="file" name="file" ><br><br>

    <input class="btn btn-success btn-lg" type="submit" value="Submit">

    <h3>{{message}}</h3>

    <img src="{{ url_for('display_image', filename=filename) }}">

</form>


</body>
</html>
